### Loading packages from config/init.py

In [2]:
%run ../config/init.py

### Defining variables

In [12]:
QUERY_SIZES = [2000, 6000, 10000]
NO_FILES = 20
TRANSCRIPTOME_FILE = os.path.join(DATA, DATASET, 'transcriptome.fasta.gz')

### Creating 20 FASTA files for the different query sizes

In [4]:
result_dir = os.path.join(RESULTS, DATASET)
if not os.path.exists(result_dir):
    os.mkdir(result_dir) 
os.chdir(result_dir)

### Random sampling of 20 files with 2k, 6k, and 10k transcripts

In [25]:
data = []
records = {}
with gzip.open(TRANSCRIPTOME_FILE, "rt") as handle:
    for record in SeqIO.parse(handle, "fasta"): 
        records[record.id] = record
        data.append([record.id, len(record.seq)])
df = pandas.DataFrame(data, columns=['id', 'length'])
print('{} transcripts loaded'.format(len(df)))

474563 transcripts loaded

In [5]:
def sample_data_by_no_files(df, size, no_files, result_dir):
    d = df.copy()
    stats = pandas.DataFrame()
    for i in range(1, no_files + 1):
        s = d.sample(n=size)
        d = d.drop(s.index)
        st = s.describe().T
        st.rename(index={'length': str(i)}, inplace=True)
        stats = pandas.concat([stats, st])
        with open(os.path.join(result_dir, str(size) + '_' + str(i) + '.fa'), "w") as output_handle :
            for id in s['id']:
                SeqIO.write(records[id], output_handle, "fasta")
                
    return stats

In [6]:
for q in QUERY_SIZES:
    outdir = os.path.join(str(q), 'fasta')
    if not os.path.exists(outdir):
        os.makedirs(outdir)
    
    stats = sample_data_by_no_files(df, q, 20, outdir)
    display(stats)

     count      mean         std    min     25%    50%     75%     max
1   2000.0  474.9290  435.046844  201.0  241.00  317.0  492.25  4149.0
2   2000.0  474.0875  443.769761  201.0  240.00  307.0  479.00  3804.0
3   2000.0  453.2255  403.715745  201.0  237.00  307.0  480.00  4626.0
4   2000.0  450.9555  437.340455  201.0  238.00  296.0  458.25  8093.0
5   2000.0  457.0875  427.297560  201.0  236.00  296.0  471.00  3649.0
6   2000.0  455.9005  415.904205  201.0  240.00  305.0  467.25  4133.0
7   2000.0  451.5975  391.476577  201.0  240.00  307.0  476.25  3714.0
8   2000.0  459.9600  413.949301  201.0  239.00  307.0  480.00  3452.0
9   2000.0  456.0575  404.279551  201.0  244.00  311.0  470.25  4314.0
10  2000.0  449.8155  410.587125  201.0  236.00  295.5  470.25  3939.0
11  2000.0  468.3385  435.390062  201.0  241.00  311.0  474.00  4349.0
12  2000.0  453.5040  395.547245  201.0  239.75  308.0  473.00  3584.0
13  2000.0  451.9455  395.809747  201.0  242.00  303.0  478.25  3386.0
14  2000.0  441.1460  376.183839  201.0  238.00  301.0  459.00  3400.0
15  2000.0  457.5920  413.694502  201.0  242.00  311.0  477.00  3997.0
16  2000.0  458.9530  407.093378  201.0  237.00  307.5  485.00  3660.0
17  2000.0  452.2650  403.427743  201.0  243.75  308.0  465.50  3405.0
18  2000.0  447.4555  401.580002  201.0  238.00  302.5  465.00  4767.0
19  2000.0  458.4155  422.238838  201.0  236.75  307.0  483.00  3740.0
20  2000.0  467.3920  440.941910  201.0  240.00  310.0  473.00  4327.0

     count        mean         std    min    25%    50%     75%      max
1   6000.0  460.232833  423.799473  201.0  240.0  306.0  474.00   4218.0
2   6000.0  459.470333  428.329322  201.0  239.0  303.0  464.25   4130.0
3   6000.0  461.325500  427.560730  201.0  240.0  310.0  470.25   4650.0
4   6000.0  454.835500  416.077638  201.0  237.0  304.0  463.00   4984.0
5   6000.0  450.563500  412.203902  201.0  240.0  302.0  454.25   3876.0
6   6000.0  452.265167  410.773682  201.0  239.0  305.0  465.00   5712.0
7   6000.0  461.851833  437.239385  201.0  240.0  306.0  469.00   6416.0
8   6000.0  449.171167  406.870906  201.0  238.0  304.0  463.25   3899.0
9   6000.0  453.508667  412.203826  201.0  240.0  304.0  463.00   4347.0
10  6000.0  458.131833  412.292092  201.0  238.0  307.0  474.00   4482.0
11  6000.0  456.300000  423.877695  201.0  240.0  304.0  463.25   4241.0
12  6000.0  452.629833  426.950092  201.0  239.0  304.0  462.00   8093.0
13  6000.0  453.783500  419.125033  201.0  237.0  302.0  471.00   4499.0
14  6000.0  458.600667  423.749975  201.0  240.0  307.0  468.00   4371.0
15  6000.0  471.481667  479.636293  201.0  238.0  305.0  482.00  15072.0
16  6000.0  464.067500  428.647306  201.0  239.0  307.0  471.25   4295.0
17  6000.0  461.995500  431.493401  201.0  240.0  305.0  477.00   6128.0
18  6000.0  461.726833  427.186045  201.0  239.0  305.0  468.00   3927.0
19  6000.0  463.970500  426.612097  201.0  238.0  308.0  470.00   4516.0
20  6000.0  449.020667  397.251409  201.0  238.0  307.0  466.00   4596.0

      count      mean         std    min    25%    50%     75%      max
1   10000.0  456.0059  417.883279  201.0  240.0  302.0  467.00   4482.0
2   10000.0  453.4927  410.368171  201.0  239.0  305.0  464.00   4145.0
3   10000.0  463.2189  435.228763  201.0  239.0  306.0  475.00   8093.0
4   10000.0  459.8047  423.476756  201.0  240.0  307.0  473.00   5182.0
5   10000.0  456.4745  420.534625  201.0  237.0  305.0  468.00   4751.0
6   10000.0  458.3019  426.953537  201.0  239.0  304.0  462.00   5712.0
7   10000.0  459.0642  417.359324  201.0  239.0  307.0  475.00   8092.0
8   10000.0  455.5943  427.247162  201.0  239.0  305.0  457.00   5909.0
9   10000.0  456.6351  417.267424  201.0  240.0  307.0  466.00   4784.0
10  10000.0  450.9014  412.314690  201.0  238.0  302.0  461.00   6178.0
11  10000.0  454.0078  409.419710  201.0  239.0  306.0  469.00   4351.0
12  10000.0  458.4887  417.235622  201.0  239.0  306.0  474.00   4404.0
13  10000.0  458.6356  417.876502  201.0  238.0  304.0  475.00   4193.0
14  10000.0  455.9462  422.349553  201.0  238.0  304.0  461.00   5433.0
15  10000.0  459.5012  425.595372  201.0  239.0  305.0  468.00   4280.0
16  10000.0  463.1008  425.506226  201.0  240.0  311.0  474.00   4984.0
17  10000.0  448.3192  404.027720  201.0  237.0  302.0  464.25   4078.0
18  10000.0  459.1221  427.115094  201.0  238.0  303.0  475.00   6128.0
19  10000.0  452.1718  429.792564  201.0  239.0  304.0  463.00  15072.0
20  10000.0  456.5657  417.780319  201.0  239.0  305.0  466.00   5632.0

### Random sampling 120k transcripts using query sizes of 2k, 6k and 10k

In [26]:
result_dir = os.path.join(RESULTS, DATASET, '120k')
if not os.path.exists(result_dir):
    os.mkdir(result_dir) 
os.chdir(result_dir)

In [27]:
def sample_data_by_size(df, size, result_dir):
    d = df.copy()
    stats = pandas.DataFrame()
    i = 1
    while not d.empty:
        if len(d) > size:
            s = d.sample(n=size)
            d = d.drop(s.index)
        else:
            s = d
            d = pandas.DataFrame()
        st = s.describe().T
        st.rename(index={'length': str(i)}, inplace=True)
        stats = pandas.concat([stats, st])
        with open(os.path.join(result_dir, str(size) + '_' + str(i) + '.fa'), "w") as output_handle :
            for id in s['id']:
                SeqIO.write(records[id], output_handle, "fasta")
        i += 1
                
    return stats

In [28]:
df = df.sample(n=120000)
for q in QUERY_SIZES:
    outdir = os.path.join(str(q), 'fasta')
    if not os.path.exists(outdir):
        os.makedirs(outdir)
    
    stats = sample_data_by_size(df, q, outdir)
    display(stats)

     count      mean         std    min     25%    50%     75%     max
1   2000.0  452.0110  415.723152  201.0  239.00  302.0  463.00  3381.0
2   2000.0  450.7800  417.583482  201.0  237.00  306.5  462.25  3591.0
3   2000.0  451.9415  427.049089  201.0  239.00  299.0  465.00  4151.0
4   2000.0  478.5405  453.015041  201.0  237.00  310.0  499.25  4325.0
5   2000.0  446.7495  409.359101  201.0  235.00  298.5  454.25  3366.0
6   2000.0  456.5630  417.554642  201.0  240.00  306.0  466.50  4351.0
7   2000.0  451.6445  401.342564  201.0  242.00  306.0  459.00  4708.0
8   2000.0  461.7280  416.125855  201.0  239.00  309.0  475.25  3851.0
9   2000.0  457.8935  430.090432  201.0  239.00  305.0  465.00  4329.0
10  2000.0  453.1980  422.312827  201.0  239.75  307.0  444.25  4502.0
11  2000.0  456.1025  421.348981  201.0  238.00  309.0  473.00  4193.0
12  2000.0  452.9045  420.176442  201.0  239.00  308.0  463.25  6128.0
13  2000.0  459.5785  425.297325  201.0  240.00  310.0  484.25  3943.0
14  2000.0  456.0210  424.029407  201.0  238.00  306.5  476.00  4251.0
15  2000.0  444.0540  407.595340  201.0  238.00  298.0  448.00  3604.0
16  2000.0  461.9010  415.059942  201.0  241.00  307.0  473.25  3350.0
17  2000.0  464.9190  454.710887  201.0  237.00  303.5  464.00  6416.0
18  2000.0  472.7560  463.421739  201.0  241.00  312.0  483.00  8093.0
19  2000.0  476.3820  441.182573  201.0  241.00  311.0  485.00  4266.0
20  2000.0  470.7295  449.404075  201.0  240.00  311.0  470.25  3530.0
21  2000.0  456.7940  431.351161  201.0  237.00  304.0  465.00  3750.0
22  2000.0  446.5255  404.633225  201.0  238.00  303.0  468.00  3908.0
23  2000.0  467.7220  437.510382  201.0  237.00  308.0  481.00  4249.0
24  2000.0  448.0365  399.754600  201.0  239.00  299.0  462.00  3461.0
25  2000.0  462.0285  403.152061  201.0  240.00  306.0  480.25  3636.0
26  2000.0  441.5835  397.620727  201.0  240.00  302.0  449.00  3516.0
27  2000.0  475.8865  449.217579  201.0  243.00  316.5  483.25  4668.0
28  2000.0  461.9110  432.336377  201.0  236.00  302.0  475.00  3967.0
29  2000.0  455.4295  412.327245  201.0  238.00  307.0  464.00  4013.0
30  2000.0  463.0840  409.318471  201.0  239.00  311.0  484.25  3600.0
31  2000.0  463.6000  416.651335  201.0  241.00  310.0  477.25  3766.0
32  2000.0  472.4305  446.065111  201.0  241.00  312.0  474.50  3811.0
33  2000.0  453.7090  450.805315  201.0  237.00  298.0  442.00  5186.0
34  2000.0  453.0300  426.959964  201.0  237.00  303.0  470.00  4286.0
35  2000.0  458.9715  413.354053  201.0  239.00  305.0  472.25  3115.0
36  2000.0  446.8570  400.787522  201.0  237.00  305.5  468.00  3305.0
37  2000.0  464.3425  432.669210  201.0  236.00  303.0  470.25  3598.0
38  2000.0  456.6665  398.116725  201.0  239.00  308.0  471.00  3379.0
39  2000.0  464.2325  429.868267  201.0  239.00  307.0  485.00  4751.0
40  2000.0  461.3630  426.720298  201.0  242.00  308.0  478.00  5835.0
41  2000.0  457.3675  424.156063  201.0  240.00  306.0  465.00  4271.0
42  2000.0  472.2315  433.005269  201.0  239.00  311.0  490.25  4069.0
43  2000.0  473.3295  492.475784  201.0  236.00  308.0  472.25  8092.0
44  2000.0  446.6255  399.326993  201.0  236.75  298.0  455.25  4136.0
45  2000.0  439.3935  392.914081  201.0  238.00  300.5  441.00  3845.0
46  2000.0  451.3010  403.697527  201.0  240.00  306.5  470.25  3917.0
47  2000.0  442.2915  400.479488  201.0  238.00  302.0  448.25  4167.0
48  2000.0  454.8655  431.831494  201.0  237.00  301.0  457.00  4029.0
49  2000.0  451.5730  395.740009  201.0  238.75  306.0  473.25  3563.0
50  2000.0  451.8140  414.264781  201.0  238.00  301.0  461.00  3796.0
51  2000.0  456.2915  409.810417  201.0  237.00  304.0  470.25  4349.0
52  2000.0  455.8720  424.981009  201.0  238.00  304.5  462.00  4637.0
53  2000.0  461.2000  420.848773  201.0  241.00  309.0  472.50  4005.0
54  2000.0  456.9535  413.055902  201.0  239.00  311.0  466.25  4482.0
55  2000.0  462.3465  446.306685  201.0  237.00  304.0  456.25  4314.0
56  2000.0  447.8430  404.957637  201.0  237.00  298.0  466.00  4162.0
57  2000.0  456.1340  406.077013  201.0  238.00  306.0  471.25  3787.0
58  2000.0  450.8930  405.473303  201.0  238.00  305.0  477.00  3754.0
59  2000.0  461.1700  415.416117  201.0  242.00  309.0  478.00  4455.0
60  2000.0  459.7550  423.730046  201.0  239.75  310.0  469.25  4063.0

     count        mean         std    min    25%    50%     75%     max
1   6000.0  457.510667  423.011536  201.0  240.0  307.0  466.00  4325.0
2   6000.0  454.594333  413.292025  201.0  237.0  304.0  467.00  4455.0
3   6000.0  459.778000  420.340135  201.0  239.0  307.0  472.00  4408.0
4   6000.0  452.017667  396.117064  201.0  242.0  310.0  475.25  4193.0
5   6000.0  461.027000  436.858712  201.0  239.0  306.0  460.00  8092.0
6   6000.0  459.048667  421.160537  201.0  239.0  307.0  476.00  5186.0
7   6000.0  459.533500  429.313197  201.0  240.0  305.0  466.00  4167.0
8   6000.0  456.292833  415.892143  201.0  238.0  305.0  470.25  4708.0
9   6000.0  466.352667  436.635794  201.0  239.0  308.0  474.00  5289.0
10  6000.0  454.021000  414.386849  201.0  238.0  305.0  464.00  4637.0
11  6000.0  458.749667  422.067753  201.0  239.0  306.0  472.25  4026.0
12  6000.0  468.352833  461.285440  201.0  238.0  305.0  468.00  8093.0
13  6000.0  460.045000  425.995320  201.0  238.0  306.0  470.25  4482.0
14  6000.0  448.998833  404.240270  201.0  240.0  307.0  462.00  4063.0
15  6000.0  459.280167  423.302334  201.0  239.0  307.0  471.00  4668.0
16  6000.0  454.605000  421.927425  201.0  240.0  303.0  470.00  6128.0
17  6000.0  462.148500  432.146431  201.0  237.0  305.5  471.25  4502.0
18  6000.0  449.101833  407.910323  201.0  237.0  304.0  463.00  4136.0
19  6000.0  452.575667  406.469926  201.0  239.0  304.0  467.00  4151.0
20  6000.0  459.250167  428.312656  201.0  238.0  305.0  464.25  4162.0

      count      mean         std    min    25%    50%     75%     max
1   10000.0  459.4128  417.451282  201.0  238.0  305.0  475.00  4668.0
2   10000.0  457.6165  431.430133  201.0  239.0  305.0  468.00  5835.0
3   10000.0  452.4579  405.541830  201.0  238.0  306.0  469.00  4637.0
4   10000.0  462.3885  431.310862  201.0  240.0  306.0  469.00  4708.0
5   10000.0  454.8620  415.695067  201.0  239.0  306.0  469.00  4482.0
6   10000.0  456.1679  418.260004  201.0  239.0  308.0  466.00  5186.0
7   10000.0  458.0226  410.206656  201.0  240.0  309.0  473.00  4069.0
8   10000.0  458.2315  429.147068  201.0  239.0  305.0  468.00  6128.0
9   10000.0  453.6512  423.229015  201.0  238.0  303.0  454.00  4251.0
10  10000.0  462.8033  438.666668  201.0  237.0  306.0  476.25  8092.0
11  10000.0  458.3554  431.848073  201.0  239.0  304.0  466.00  8093.0
12  10000.0  458.0008  412.973071  201.0  240.0  306.0  472.00  4099.0